@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@100&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive; 
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--fonte1);
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-size: 8.3vw;
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;
    font-size: 3.2vw;
}

section > p {
    padding-bottom: 2em;
}

#img01 {
    background-image: url('../imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

#img02 {
    background-image: url('../imagens/background003.jpg');
    background-repeat: no-repeat;
    background-position: left center;
}
.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgba(131, 131, 131, 0.5);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed    ;
}

section.imagem > p {
    background-color: rgba(37, 37, 37, 0.514);
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    padding: 5px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}